**/bin/
**/obj/
**/publish/
**/TestResults/

.vs/
.idea/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

appsettings.Local.json
appsettings.*.local.json

*.nupkg

.DS_Store
Thumbs.db

package-lock.json
